
.header {
    padding: 5px;
    background: #080808;
    color: white;
  }
  
  .footer {
    padding: 5px;
    background: #080808;
    color: white;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #080808;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  nav a:hover {
    background-color: #222121;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }
  form {
    background-color: #2f2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
  }
  body {
    background-color: rgb(29, 28, 28);
    color: white;
}
.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
h1 {
  font-size: 36px;
  text-align: center;
}

.azul {
  color: rgb(18, 208, 255);
}